venv/
.env
__pycache__/
*.pyc
# Ignore all raw data
data/raw/*

# Allow YOLO detection output
!data/raw/yolo_detections.csv


logs/
*.session
# DBT
target/
dbt_packages/

# Python
venv/
__pycache__/
*.pyc

# Telegram session
*.session

# Logs
logs/

# YOLO model weights
*.pt
